<h1 style="text-align: center; color: #1E90FF; font-family: Arial, sans-serif; font-size: 2.5rem; font-weight: bold; text-transform: uppercase;">Lista de Artistas Favoritos</h1>
<table datatable class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Artista</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Yo</td>
      <td>Linkin Park</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Dulce</td>
      <td>Virlan García</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Mauricio</td>
      <td>Cuarteto de Nos</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Angel</td>
      <td>Pedro Infante</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Michel</td>
      <td>Zoé</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Asael</td>
      <td>LeftySM</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Luz</td>
      <td>Enanitos Verdes</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Moy</td>
      <td>Siddhartha</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Zyanya</td>
      <td>Linkin Park</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Tania</td>
      <td>Siddhartha</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Patricia</td>
      <td>Little Jesus</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Amauri</td>
      <td>Enjambre</td>
    </tr>
  </tbody>
</table>